<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<h1>Listing contacts</h1>
<p><strong><%= link_to current_user.contact.ward.stake.name, :controller => 'home', :action => 'index' %></strong></p>
<p><strong><%= link_to 'Download this Ward Directory as PDF', :controller => 'pdf', :action => 'index' %></strong></p>
<p>TODO: Slug</p>
<% for contact in @bishopric %>
<div style="
    float: left;
    text-align: center;
    border: solid 1px black;
    background-color: GhostWhite;
    height: 350px;
    width: 225px;
    padding: 5px;
    margin: 5px;"
    >
<div class="profile">
  <% remote_form_for(contact) do |f| %>
    <%= f.error_messages %>

      <%= f.text_field :first %> <%= f.text_field :last %><br/>
      <%= image_tag("/contacts/get_photo/#{contact.id}", :alt => "Image") %><br/>
      <%= f.file_field :image_file %><br/>
      <%= f.text_field :phone %><br/>
      <%= f.text_field :email %><br/>
      <%= f.text_field :address_line_1 %><br/>
      <%= f.text_field :address_line_2 %><br/>
      <%= f.text_field :city %>, <%= f.text_field :state %> <%= f.text_field :zip %><br/>
      <%= f.submit "Update" %><br/>
  <% end %>
    <%= link_to 'Delete', contact, :confirm => 'Are you sure?', :method => :delete %><br/>
</div>
</div>
<% end %>
<div style="clear:both">&nbsp;</div>

<div class="profile">
  <table>
  <% calling_type = '' %>
  <% for calling in @leadership %>
    <% if calling.calling_type != calling_type %>
      <% calling_type = calling.calling_type %>
    <tr>
      <td colspan=3><h3><%=h calling_type.name %></h3></td>
    </tr>
    <% end %>
    <% for contact in calling.contacts %>
    <tr>
      <td><%=h calling.name %></td>
      <td><%=h contact.first %> <%=h contact.last %></td>
      <td><%=h contact.phone %></td>
    </tr>
    <% end %>
  <% end %>
  </table>

<div style="clear:both">&nbsp;</div>

<% for contact in @contacts %>
<div style="
    float: left;
    text-align: center;
    border: solid 1px black;
    background-color: GhostWhite;
    height: 275px;
    width: 150px;
    padding: 5px;
    margin: 5px;"
    >
<div class="profile">
    <%=h contact.first %> <%=h contact.last %><br/>
    <% if contact.photo.data
          path = "/contacts/get_photo/#{contact.id}"
        else
          path = "/images/anonymous.jpg"
        end
    %>
    <%= image_tag(path, :alt => "Image", :style => 'height: 135px') %><br/>
    <%=h contact.phone %><br/>
    <%=h contact.email %><br/>
    <%=h contact.address_line_1 %><br/>
    <%=h contact.address_line_2 %><br/>
    <%=h contact.city %>, <%=h contact.state %> <%=h contact.zip %><br/>
    <%= link_to 'More Info', contact %><br/>
    <%= link_to 'Edit', edit_contact_path(contact) %><br/>
    <%= link_to 'Delete', contact, :confirm => 'Are you sure?', :method => :delete %><br/>
</div>
</div>
<% end %>

<br />

<%= link_to 'New contact', new_contact_path %>
