<!-- div id="login_pane" -->
    <h1>The Ward Menu - LDS Ward Directory PDF Generator</h1>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
    <% end %>

    <img style="float:left" src="images/ward.jpg">
    <div id="credentials" style="float:left">
    <% remote_form_for @user_session, :url => user_session_path do |f| %>
        <%= f.error_messages %>
        
        <%= f.label 'LDSAccount' %><br />
        <%= f.text_field :login %><br/>
        
        <%= f.label :password %><br />
        <%= f.password_field :password %><br/>
        
        <%#= f.hidden :remember_me, :value => 'true' %>
        
        <%= submit_tag "Get Ward Directory from LDS.org... (takes 60 to 90 seconds)"  %>
      <% end %>
    </div>
    <div id="tips" style="clear:both">
      <h3>How to use this site:</h3>
      <ul>
        <li>Contact your ward clerk to register an LDSAccount</li>
        <li>Make sure that you can log in to <a href="https://secure.lds.org/units/login">your ward web site</a>
on LDS.org through "Stake and Ward Web Sites"</li>
        <li>Log in to The Ward Menu with your LDSAccount (your password will not be stored)</li>
        <li>Wait as we access your ward directory</li>
        <li>Download the final PDF, ready for printing</li>
      </ul>

      <h3>What you get:</h3>
      <ul>
        <li>Bishopric Photo Page</li>
        <li>Leadership Index</li>
        <li>Member Photo Directory</li>
        <li>Member Index</li>
      </ul>

      <h3>Feedback:</h3>
      <p>My username is CoolAJ86 and I use Google's mail system.</p>

      <h3>Bugs:</h3>
      <ul>
        <li>Edits don't work</li>
        <li>The format only works well for student single wards in apartment complexes</li>
      </ul>
 
      <h3>Todo:</h3>
      <p>use ssl and or javascript encryption to send password 'safely'</p>

      <h3>Credits:</h3>
      Many thanks to:
      <ul>
        <li>Ruby on Rails</li>
        <li>FreeDNS</li>
      </ul>
    </div>
<!-- /div -->
